@use "variables" as *;
@use "mixins" as *;

.purchase-list {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding: 0 1rem;
	box-sizing: border-box;
}

.purchase-list__header {
	@include flex-center;
	justify-content: space-between;
	font-size: 14pt;
	gap: 2em;

	.button_submit {
		@include icon-button;
	}
}

.header__form {
	@include flex-center;
	align-items: stretch;
	flex-grow: 1;
	gap: 0.325em;
}

.form__input {
	@include transition;
	font-size: 10pt;
	padding-inline: 2em;
	flex-grow: 1;
	border: none;
	border-radius: 50px;
	outline: none;
	background-color: $input-bg;
	color: $input-text;

	&:focus {
		background-color: $input-active-bg;
	}
}
