@use "variables" as *;
@use "mixins" as *;

.wrapper {
    max-width: 30%;
    margin: 0 auto;
    // border: 1px solid red;
}

.app__header {
    display: flex;
    justify-content: space-between;
    // align-items: stretch;
    // margin: auto;
    // width: 100%;
    font-size: 14pt;

    .button_submit {
        @include button-base;
    }
}

.header__form {
    @include flex-center;
    // justify-content: flex-end;
    // border: 1px solid red;
    gap: 0.325em;
}

.form__input {
    // flex-grow: 1;
    font-size: 10pt;
    padding-inline: 2em;
    height: 36px;
    border: none;
    border-radius: 50px;
    outline: none;
    background-color: $input-bg;
    color: $input-text;
    @include standard-transition;

    &:focus {
        background-color: $input-active-bg;
    }
}
