@use 'variables' as *;
@use 'mixins' as *;

body {
    background-color: $app-bg;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: $input-text;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.icon {
    font-size: 20px;
    @include standard-transition;

    &.button_icon {
        color: $input-text;
    }

    &.link_icon {
        color: inherit;
    }
}

a {
    color: $task-completed;
    text-decoration: none;
    @include standard-transition;

    &:hover {
        color: $button-primary;
    }
}

button {
    @include button-base;
}