@use 'variables' as *;
@use 'mixins' as *;

.list-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 18px 0;
    width: 400px;
    font-size: 18px;
    border-bottom: 1px solid $input-bg;

    .button_remove {
        margin-left: auto;
        @include button-base;
    }

    &.item_completed .list-item__text {
        text-decoration: line-through;
        color: gray;
    }

    &.item_completed .button_checkbox .button_icon {
        display: block;
    }

    .button_checkbox {
        @include button-base;
        background-color: $checkbox-bg;

        &:hover {
            background-color: $checkbox-hover-bg;
        }

        .button_icon {
            color: $color-white;
            display: none;
        }
    }
}