@use "variables" as *;
@use "mixins" as *;

.list-menu {
	@include flex-column;
	gap: 1em 0;
	width: fit-content;
	font-size: 10pt;
	margin: 2em auto;

	.sort-controls {
		@include flex-center;
		justify-content: space-between;
		background-color: $input-bg;
		padding: 0.325em;
		border-radius: 50px;

		.button_radio {
			@include text-button;
			@include transition(all, 0.3s);
			text-align: center;
			background: none;
			flex: 1;

			& input[type="radio"] {
				display: none;
			}

			&:has(input[type="radio"]:checked) {
				color: $button-primary;
				background-color: $button-primary-bg;
			}
		}
	}

	.button_clear {
		@include text-button;
		width: 310px;
	}
}
