@use 'variables' as *;

.list-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 18px 0;
    width: 400px;
    font-size: 18px;
    border-bottom: 1px solid $input-bg;

    .button_remove {
        margin-left: auto;
        cursor: pointer;

        &:hover > .icon {
            color: $button-primary;
        }
    }

    .button_checkbox {
        background-color: $checkbox-bg;
        cursor: pointer;

        &:hover {
            background-color: $checkbox-hover-bg;
        }

        .button_icon {
            color: $color-white;
            display: none;
        }
    }
}
