$task-completed-color: #ffffff30;
$app-background-color: #262626;
$header-background-color: #2e2e2e;
$button-bg-color: #e060552a;
$button-hover-bg-color: #e060553f;
$button-active-bg-color: #e0605577;
$button-color: #e06155;
$button-hover-color: #ffffff;
$input-bg-color: #363636;
$input-active-bg-color: #ffffff1e;
$input-color: #ffffff;
$checkbox-bg-color: #ffffff18;
$checkbox-hover-bg-color: #ffffff07;
$checkbox-active-bg-color: #ffffff38;

body {
    background-color: #262626;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.icon {
    font-size: 24px;

    &.button_icon {
        color: #ffffff;
    }

    &.link_icon {
        color: inherit;
    }
}

a {
    color: $task-completed-color;
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
        color: $button-color;
    }
}

button {
    background: none;
    color: $button-color;
    border: 1px solid #3d3d3d;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s;
    
    &:hover {
        background-color: $checkbox-hover-bg-color;
    }
}
