@import "~/assets/css/app.scss";

.item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 18px 0;
    width: 400px;
    font-size: 18px;
    border-bottom: 1px solid #3d3d3d;

    .button_remove {
        margin-left: auto;
        background: none;
        border: none;
    }

    .button_checkbox {
        img {
            display: none;
        }
    }
}
