@use "variables" as *;
@use "mixins" as *;

.purchase-item {
	display: flex;
	align-items: center;
	gap: 0.65em;
	padding-block: 1em;
	flex-grow: 1;
	font-size: 16pt;
	border-bottom: 1px solid $input-bg;

	.button_remove {
		@include icon-button;
		margin-left: auto;
	}

	&.item_completed .list-item__text {
		text-decoration: line-through;
		opacity: 0.3;
	}

	&.item_completed .button_checkbox .button_icon {
		display: block;
	}

	.button_checkbox {
		@include icon-button;
		display: flex;

		&:hover {
			background-color: $button-primary-bg;
			border: 1px solid rgba($color: $button-primary, $alpha: 0.5);
		}

		.button_icon {
			color: $button-primary;
			display: none;
		}
	}
}
