@use "variables" as *;
@use "mixins" as *;

.purchase-items {
	margin-top: 2em;
}

.empty-list-message {
	@include flex-center;
	flex-direction: column;
	font-size: 16pt;
	text-align: center;
	color: $input-text;
}
